<section class="mt-5">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="">
        <form action="/admin/typeAnswer" method="post" id="typeanser">
          <div class="row add-SubCatLeftUI mt-4">
            {{#if MESSAGE}}
              {{#if MESSAGE.status}}
                <div class="alert alert-success" role="alert">
                  {{MESSAGE.message}}
                </div>
              {{else}}
                <div class="alert alert-danger" role="alert">
                  {{MESSAGE.message}}
                </div>
              {{/if}}
            {{/if}}

            <div class="col-12 m-1">
              <label>Question <span class="text-danger">*</span></label>
              <textarea
                class="form-control"
                placeholder="Type here..."
                style="padding-left: 10px;font-size:15px"
                name="question"
                id=""
                cols="30"
                rows="5"
              ></textarea>
            </div>

            <div class="col-12 m-1">
              <input
                value="{{this_id}}"
                type="text"
                hidden
                name="_category_id"
                class="form-control"
                id=""
              />
            </div>

              <div class="col-12 m-1">
              <input
                value="type_question_type"
                type="text"
                hidden
                name="typeOfQst"
                class="form-control"
                id=""
              />
            </div>

            <div class="ml-3 Btn-ForCustomize margin-bottom-1rem">
              <div class="">
                <button
                  type="submit"
                  class="btn btn-success mt-3 wid-110"
                >Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="w-100 text-dark"> </div>
    </div>
  </div>
</section>