<section class="mt-5">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                
                    <div class="row add-SubCatLeftUI  mt-4">
                        
                      
                        <div class="col-12 m-1">
                            {{data.name}}
                            {{!-- <input type="text" id="name" placeholder="Name" class="form-control" name="name" value="" /> --}}
                        </div>
                     
                        <div class="col-12 m-1">
                            {{data.email}}
                            {{!-- <input type="email" id="email" placeholder="E-mail" class="form-control" name="email" value="" /> --}}
                        </div>
                        
    

                    </div>
                
            </div>
            <div class="w-100  text-dark "> </div> {{!-- this designed class use this one ( addSubCat-RightPanel ) --}}
        </div>
    </div>
</section>