

<div class="contact_info">
  <div class="menu-section menuBar" id="menu-sectionAbout" >
    <div class="menu-tab">
      <a class="menu-side-btnTag" style="text-decoration: none;" href="/">Home</a>
      <a href="/aboutus" style="margin: 12px;text-decoration: none;">About</a>
      <a href="/contact" style="text-decoration: none;">Contact</a>
    </div>
  </div>

  <div class="container">
    <div class="row">    
      <div class="col-lg-10 offset-lg-1">
        
        <div style="margin-bottom: 1.5rem;" class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between" >
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout ">
            <div class="contact_info_image"><i class="fa-solid fa-user-tie"></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">FOUNDER</div>
              <div class="contact_info_text">MR. SYED SHAHBAZ</div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout " >
            <div class="contact_info_image"><i class="fa-solid fa-envelope" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Email</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="mailto:ahlbytweb@gmail.com">ahlbytweb@gmail.com</a></div>
            </div>
          </div>
          <!-- Contact Item -->
          <div class="contact_info_item d-flex flex-row align-items-center justify-content-start component_container_homeAbout" >
            <div class="contact_info_image"><i class="fa-solid fa-mobile" ></i></div>
            <div class="contact_info_content">
              <div class="contact_info_title">Phone</div>
              <div class="contact_info_text"><a class="contact_info_item_inner_a" href="tel:7676941486">+91 7676941486</a></div>
              {{!-- +91 7676941486 --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="" style="margin-top: 1rem;font-family: 'Avenir', sans-serif;">
    
    <br>
      <p style="padding: 25px;background-color: white;">     <strong>Ahlbyt.in</strong>, also known as Finnovation, is a next-generation Edtech platform that leverages the power of blockchain and artificial intelligence to provide users with unparalleled access to a diverse range of products and services. Our platform features a comprehensive solution for tech-savvy individuals and traditional users alike, including user profiles, an affiliate program, and advertising opportunities for companies.

      At the cutting-edge of technology, Finnovation is built to incorporate the latest advancements, including 6G and Web3.0. Our platform is user-friendly and accessible across all operating systems, virtual reality, and devices, including smartwatches, IoT, and mobile. With a chatbot, wishlist, and matrix algorithm, we aim to simplify and streamline the process of buying and lending products, as well as paying bills.

      Finnovation also serves as a legitimate e-commerce platform, offering a minimalist UI/UX design and high conversion rates. Our platform provides detailed information on the features and benefits of our product, including time-saving solutions for students and researchers, commercial benefits for entrepreneurs, and a wealth of data for individuals at all levels of expertise.

      Join us in revolutionizing the Edtech industry and experience the power of Finnovation
    </p>

<ul style="list-style-type: disc;list-style-type: disc;
    background-color: white;
    padding: 38px;" class="mt-5 mb-5">
      <li>Ai market place</li>
      <li>Blockchain </li>
      <li>Affiliate market stream generating tool</li>
      <li>saas (software as a service)</li>
      <li>unlimited web access </li>
      <li>free access</li>
      <li>all in one tool</li>

    </ul>
  </div>
</div>