<section id="home-section">
  <div class="container" id="container">
    <div class="row home-row" id="results">
      {{#if response}}
      {{#each response.data}}
      <div onclick="viewDisplay('/viewExplore/{{this._id}}')" class="card m-3" style="    width: 15rem;
    height: 10rem;">
        <img class="card-img-top" src="/category-images/{{this._id}}.jpg" alt="Card image cap" />
      </div>
      {{/each}}
      {{else}}
      <div>
        <p class="loading" style="font-family: 'Avenir', sans-serif ;">Loading...</p>
      </div>
      {{/if}}
    </div>
  </div>
</section>


<style>
  .card:hover {
    transform: scale(1.01);
    border: 1px solid black;
  }

  .card {}
</style>