<section class="mt-5">
  <div class="container text-center d-flex" style="justify-content: center;">

  <div class="card" style="width: 18rem;">
      <div class="card-body">
            <h5 class="card-title">Score</h5>
            {{#if total_score.total_score}}
        <p class="card-text">{{total_score.total_score}}</p>
        {{else}}
        <p class="card-text">0</p>
        {{/if}}
         <a href="/clearScore" class="btn btn-primary">Clear</a>
      </div>
    </div>
  </div>

</section>