<section class="mt-5">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="">
        <form action="/teacher/mcq" method="post" id="mcq">
          <div class="row add-SubCatLeftUI mt-4">
            {{#if MESSAGE}}
              {{#if MESSAGE.status}}
                <div class="alert alert-success" role="alert">
                  {{MESSAGE.message}}
                </div>
              {{else}}
                <div class="alert alert-danger" role="alert">
                  {{MESSAGE.message}}
                </div>
              {{/if}}
            {{/if}}

            <div class="col-12 m-1">
              <label>Question <span class="text-danger">*</span></label>
              <textarea
                class="form-control"
                placeholder="Type here..."
                style="padding-left: 10px;font-size:15px"
                name="question"
                id=""
                cols="30"
                rows="5"
              ></textarea>
            </div>

            <div class="col-12 m-1">
              <input
                placeholder="Option A"
                type="text"
                name="option_A"
                class="form-control"
                id=""
              />
            </div>
            <div class="col-12 m-1">
              <input
                placeholder="Option B"
                type="text"
                name="option_B"
                class="form-control"
                id=""
              />
            </div>
            <div class="col-12 m-1">
              <input
                placeholder="Option C"
                type="text"
                name="option_C"
                class="form-control"
                id=""
              />
            </div>
            <div class="col-12 m-1">
              <input
                placeholder="Option D"
                type="text"
                name="option_D"
                class="form-control"
                id=""
              />
            </div>
            <div class="col-12 m-1">
              <input
                value="mcq_type"
                type="text"
                hidden
                name="typeOfQst"
                class="form-control"
                id=""
              />
            </div>

            <div class="col-12 m-1">
              <input
                value="{{this_id}}"
                type="text"
                hidden
                name="_category_id"
                class="form-control"
                id=""
              />
            </div>

            <label style="padding: 10px;" for="answer">Answer </label>
            <select
              style="border-radius: 2px;border: none;background-color: #e1e1de;padding: 4px;height: 35px;"
              name="answer"
              id="answer"
            >
              <option value="option_A">Option A</option>
              <option value="option_B">Option B</option>
              <option value="option_C">Option C</option>
              <option value="option_D">Option D</option>
            </select>

            <div class="ml-3 Btn-ForCustomize margin-bottom-1rem">
              <div class="">
                <button
                  type="submit"
                  class="btn btn-success mt-3 wid-110"
                >Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="w-100 text-dark"> </div>
      {{! this designed class use this one ( addSubCat-RightPanel ) }}
    </div>
  </div>
</section>